<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>vnp_Returnurl</param-name>
        <param-value>http://localhost:9999/SWP391_Gr1/paymentReturn</param-value>
    </context-param>
    <context-param>
        <param-name>vnp_Url</param-name>
        <param-value>https://sandbox.vnpayment.vn/paymentv2/vpcpay.html</param-value>
    </context-param>
    <context-param>
        <param-name>vnp_TmnCode</param-name>
        <param-value>YZ7BM6BL</param-value>
    </context-param>
    <context-param>
        <param-name>vnp_HashSecret</param-name>
        <param-value>PCQTVOEEKUVLWXDBXYOEJBOKTDKQJIQF</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>Controllers.BlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>Controllers.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>Controllers.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>Controllers.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Controllers.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>Controllers.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>Controllers.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>Controllers.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentReturn</servlet-name>
        <servlet-class>Controllers.PaymentReturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewProduct</servlet-name>
        <servlet-class>Controllers.AddReviewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadReview</servlet-name>
        <servlet-class>Controllers.LoadReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardServlet</servlet-name>
        <servlet-class>Controllers.PostManager.DashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostController</servlet-name>
        <servlet-class>Controllers.PostManager.AddPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostManagerController</servlet-name>
        <servlet-class>Controllers.PostManager.PostManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePostServlet</servlet-name>
        <servlet-class>Controllers.PostManager.UpdatePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePostServlet</servlet-name>
        <servlet-class>Controllers.CreatePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <servlet-class>Controllers.Manager.ViewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailServlet</servlet-name>
        <servlet-class>Controllers.Manager.CustomerDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashboardServlet</servlet-name>
        <servlet-class>Controllers.Manager.SaleDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Saledash</servlet-name>
        <servlet-class>Controllers.Manager.Saledash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderManagementServlet</servlet-name>
        <servlet-class>Controllers.SliderManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSliderServlet</servlet-name>
        <servlet-class>Controllers.CreateSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSilderServlet</servlet-name>
        <servlet-class>Controllers.DeleteSilderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusSliderServlet</servlet-name>
        <servlet-class>Controllers.ChangeStatusSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>Controllers.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>Controllers.Admin.UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>Controllers.Admin.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>Controllers.Admin.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessDenied</servlet-name>
        <servlet-class>Controllers.AccessDenied</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>Controllers.Admin.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chat</servlet-name>
        <servlet-class>Controllers.Chat</servlet-class>
    </servlet>
    
    
    <!-- servlet-mapping-->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSingleServlet</servlet-name>
        <servlet-class>Controllers.BlogSingleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>Controllers.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyServlet</servlet-name>
        <url-pattern>/reply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/cmt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogSingleServlet</servlet-name>
        <url-pattern>/blog-single</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentReturn</servlet-name>
        <url-pattern>/paymentReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewProduct</servlet-name>
        <url-pattern>/addreviewproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadReview</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardServlet</servlet-name>
        <url-pattern>/Manager/DashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostController</servlet-name>
        <url-pattern>/Manager/AddPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostManagerController</servlet-name>
        <url-pattern>/Manager/PostManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePostServlet</servlet-name>
        <url-pattern>/Manager/UpdatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePostServlet</servlet-name>
        <url-pattern>/createpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <url-pattern>/Manager/ViewCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailServlet</servlet-name>
        <url-pattern>/Manager/CustomerDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashboardServlet</servlet-name>
        <url-pattern>/Manager/saledash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Saledash</servlet-name>
        <url-pattern>/sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderManagementServlet</servlet-name>
        <url-pattern>/admin/slider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSliderServlet</servlet-name>
        <url-pattern>/admin/createSlider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSilderServlet</servlet-name>
        <url-pattern>/admin/deleteSlider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusSliderServlet</servlet-name>
        <url-pattern>/admin/changeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/OrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/UserDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessDenied</servlet-name>
        <url-pattern>/accessDenied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admindasboard</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>Chat</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
